@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ES WineShop</h1>
    <p>This is a sample e-Store application built with ASP.NET MVC Core, Postgresql, Elasticsearch and Syncfusion.</p>
</div>
